/* Tags Html */
body{
	font-family: "Raleway";
	color: #333333;
    background-color: #f4f4ef;
}

/* IDs */
#main-logo, #simple-logo{
	max-width: 240px;
}

#p-footer{
	padding: 8px 0px;
	color: #f4f4ef;
}

#p-copy{
	text-align: center;
}

#p-copy a{
	text-decoration: none;
	color: #f4f4ef;
}

#p-copy a:hover{
	color: #f7882f;
}

#load{
    margin-top: 5px;
    padding: 0px 50px;
}

/* Header */

.header-news{	
	padding: 20px;
	margin-bottom: 60px;
    background-color: #f8f8f8;
    border: 2px solid #e7e7e7;
}

.btn-search{
	font-size: 20px;
	padding: 6px 12px;
	margin-left: 5px;
	color: #333333;
	background-color:#ffffff;
	border-color: #adadad;
}

.btn-search:hover{
    color: #f4f4ef;
    background-color: #f7882f;
    border-color: #adadad;
}

.lang-btn{
    background-color: #f8f8f8;	
	border: none;
	padding: 16px 0px;
	margin: 0px 4px;
}

.lang-img{
	width: 30px;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 50%;	
}

.lang-img:hover, .lang-img:focus{
    outline: none;	
	border-color: #368cbe;
    box-shadow: 0 0 8px #368cbe;	
}
	
/* Main */

.main-div{

}

.title-news{
	padding-top: 10px;
	font-size: 20px;
	color: #333333;	
}

.title-news a:link {
	text-decoration: none;
	color: #333333;
}

.title-news a:hover {
    color: #f7882f;
}

.src-news{
	font-size: 16px;
	padding: 12px;
	background-color: #f0c5a3;
	border-left: 8px solid #f7882f;
}

.item-news {
	background-color: ;
	padding: 14px;
}

.time-news{
	font-family: 'Lato';	
	text-align: right;
	margin-bottom: 20px;
}

.bd-line{
	border: 2px solid #1a405f;
	margin-bottom: 20px;
}

.pagination > li > a:hover{
	color: #f4f4ef;
	background-color: #f7882f;
}

.pagination > .active > a{
	color: #f4f4ef;
	background-color: #f7882f;
	border-color: #f0c5a3;
}

.page-item{
	font-size: 16px;
	font-family: 'Lato';
}

/* Footer */

.footer-above{
	min-height: 140px;	
	padding: 20px 0px;
	margin-top: 40px;
	background-color: #1a405f;	
}

.social{
	padding-top: 20px;	
}

.footer-below{
	color: #f4f4ef;
	background-color: #2e323c;	
}

footer .footer-below p{
	padding-top: 12px;
}

.btn-rs{
	color: #f4f4ef;
	font-size: 16px;
	border: solid 3px #f4f4ef;
	background-color: transparent;
	transition: all 0.3s ease-in-out;
	margin-top: 15px;	
	border-radius: 80%;
}

.btn-rs:hover{
	color: #f7882f;
	border-color: #f7882f;
}

.loader {
	border: 10px solid #abbac6;
	border-top: 10px solid #1a405f;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 2s linear infinite;
	float: left; 
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
